<div class="well-small" style="background-color: lavender;">
	<%= form_for @team, :url=>{:action=> 'join'} do |f| %>
	<%= f.submit "Join Team", class: "btn btn-large btn-primary" %>
	<% end %>
</div>
