
	<p><h2>2013.4.24 &nbsp; Team第一次讨论，探索。</h2></p>
	<p><h2>2013.5.13 &nbsp; 形成开发工作，探索。</h2></p>
	<p><h2>2013.6.2 &nbsp; 开发组成员的讨论，以远程协作的方式进行工作。</h2></p>
	<p><h2>2013.6.30 &nbsp; 点滴云系统第一个开发版形成。</h2></p>
	<p><h2>2013.7.5 &nbsp; 完成第一个开发版阶段工作。</h2></p>
