<div class='row'>
	<h2 style='display:none'> Lectures </h2>
	<div class='tabbable'>
		<div class='span3 tab-span' id='sideNav'>
			<div class='well less-padding left-menu tabs-left'>
				<ul class='nav nav-list lectures-sidebar'>
					<li class='nav-header'>
						Lectures
					</li>
					<li class='lecture active' id='lecture_151'>
						<a href='https://venture-lab.org/expanders/lectures/151'> Lecture 1 </a>
					</li>
					<li class='lecture inactive' id='lecture_165'>
						<a href='https://venture-lab.org/expanders/lectures/165'> Lecture 2 </a>
					</li>
					<li class='lecture inactive' id='lecture_184'>
						<a href='https://venture-lab.org/expanders/lectures/184'> Lecture 3 </a>
					</li>
					<li class='lecture inactive' id='lecture_210'>
						<a href='https://venture-lab.org/expanders/lectures/210'> Lecture 4 </a>
					</li>
					<li class='nav-header'>
						Course Information
					</li>
					<li class='inactive' id='info_page_36'>
						<a href='https://venture-lab.org/expanders/course_info_pages/36'> Class schedule </a>
					</li>
				</ul>
			</div>
		</div>

		<div class='span9' id='centerNav'>
			<div class='tab-content white well'>
				<h2> Lecture 1 </h2>
				
			</div>
		</div>

	</div>
</div>

