<div class="well">
	<h1><%= t('clclass.edit_clclass')%></h1>

	<%= render 'form' %>

	<%= link_to t('show'), @clclass,class: "btn-info" %> |
	<%= link_to t('back'), clclasses_path,class: "btn-inverse" %>
</div>
