<% provide(:title, 'All users') %>
<h1>All users</h1>
<table>
<tr>
   <td>头像</td>
   <td>姓名</td>
</tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= gravatar_for user, size: 52 %></td>
      <td><%= link_to (user.first_name+user.last_name), user %></td>
    </tr>
  <% end %>

</table>
<%=will_paginate(@users, :previous_label=>'上一页', :next_label=>'下一页', :separator=>" | ") %>




