<div class='container main-container'>
<div class='content'>
<div class='row'>
<div class='row-fluid'>
<div class='span12'>

<div class='row'>
<div class='span12'>
<div class='white well myclasses'>
<div class='pull-right'>
<div class='legends'>
<div>
<i class='icon-facetime-video'>
   <span class='hidden-accessible'>

   </span>
</i>
    Latest lecture
</div>
<div>
<i class='icon-time'>
<span class='hidden-accessible'>

</span>
</i>
    Assignment Deadline
</div>
<div>
<i class='icon-pencil'>
<span class='hidden-accessible'>

</span>
</i>
    Peer Evaluation Deadline
</div>
</div>
</div>
<h2 class='class-header' style='font-size:24px'>Current Courses</h2>
<section>
<table class='table courses-table'>
<tr>
   <th scope='col'>
       &nbsp;
  </th>
  <th scope='col'>
      Course
  </th>
  <th scope='col'>
      &nbsp;
  </th>
  <th scope='col'>
      Progress
  </th>
  <th scope='col'>
      &nbsp;
  </th>
</tr>

<tr>
	<td>Image</td>
	<td>
	  <h2>CourseName</h2>
    </td>
	<td></td>
	<td></td>
	<td></td>
    <td></td>
    <td></td>
</tr>
</table>
<script>
$(".status-col a").tooltip();
</script>
</section>

<br>
<br>
<div class='pull-right'>
<div class='legends'>
<div>
  <i class='icon-facetime-video'>
       <span class='hidden-accessible'>

       </span>
  </i>
          Latest lecture
</div>
<div>
   <i class='icon-time'>
        <span class='hidden-accessible'>

        </span>
   </i>
          Assignment Deadline
</div>
<div>
   <i class='icon-pencil'>
         <span class='hidden-accessible'>

         </span>
   </i>
          Peer Evaluation Deadline
</div>
</div>
</div>
<h2 class='class-header' style='font-size:24px'>Past Courses</h2>
<section>
<table class='table courses-table'>
	
<tr>
    <th scope='col'>
       &nbsp;
    </th>
    <th scope='col'>
       Course
    </th>
    <th scope='col'>
       &nbsp;
    </th>
    <th scope='col'>
        Progress
    </th>
    <th scope='col'>
       &nbsp;
    </th>
</tr>
<tr>
	<td>Image</td>
	<td>
	  <h2>CourseName</h2>
    </td>
	<td></td>
	<td></td>
	<td></td>
    <td></td>
    <td></td>
</tr>
</table>

<script>
$(".status-col a").tooltip();
</script>
</section>

<br>
<br>
<div class='center'>
      <i class='btn'><h2><%= link_to "See All Dian Di Yun Classes", "courses"%></h2></i>
</div>
</div>
</div>

</div>

</div>
</div>


</div>

</div>
</div>
</div>






