<% provide(:title, @user.first_name) %>
<table>
<tr>
   <td>头像</td>
   <td>姓名</td>
   <td>邮箱</td><br />
</tr>
<tr>
   <td><%= gravatar_for @user %></td>
   <td><%= @user.first_name+@user.last_name %></td>
   <td><%= @user.email %></td>
</tr>
</table>