<div id="item-1" class="tab-pane active">

	<table class="table table-bordered">
		<% if @clclasses
		@clclasses.each do |clclass| %>

		<%= render '/clclasses/show' %>
		<% end
		end%>
		<%= link_to t("clclass.new_clclass"), new_clclass_path %>
	</table>

</div>

