<div id="item-1" class="tab-pane active">
	<%= render  'show_form'%>
</div>

<div id="item-2" class="tab-pane ">
	<div class="span8" >
		<h3><%= @teacher.first_name + t("users._s_course") %></h3>
		<p>
			&nbsp;
		</p>
		<div>
			<%if @classes.size == 0%>
			<%= t("teachers.noclass")%>
			<%end%>
			<% @classes.each do |cl| %>
			<p>
				<%= link_to get_course_by_clclass(cl.course_id).course_name, cl %>
			</p>
			<% end %>
		</div>
	</div>

