// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.coursesContainer{margin-top:20px}
.courseCell{
  padding:20px 0px 20px 0px;
  -moz-border-radius:5px;
  border-radius:5px;
  margin-top:20px;
  border:2px solid #AA9648;
  background-color:rgb(230, 232, 233);
 }
.courseCell .row{ 
    margin-left: 0px;
}
.instructorTitle, .instructorName {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 20px;
}
.courseName{
  color: #3A7BB5;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
  font-weight: normal;
}
.courseSummary{
  
}
.textGray{
  color: #0F7A2D;
}

.span3{
    padding:0px 0px 0px 20px;
}
.courseCell .span7{margin-left:30px}

.imageContainer img.shadow-picture-container{-moz-border-radius:5px;border-radius:5px;width:100%}

.fallClass {
  padding: 10px 0 15px 20px;
  color: #4b4b4b;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-shadow: 0 1px 1px #FFF;
  padding-bottom: 20px;
}