// Place all the styles related to the teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


img{
  float:center
}
.table_index_teacher{
  border:1px solid;
}
th{
  background:#b0b0b0;
  border-top:1px solid;
  border-bottom:1px solid;
  text-align:center;
  padding:3px;
}
td{
  padding:3px;
}

  .odd {
    background:#f0f0f0;
  }
  .even {
    background:#d0d0d0;
  }






