<div class="row-fluid">
	<div class="span12">
		<div class="white well">
			<h1><%= t('clclass.report.my_submissions')%></h1>
			<% @reports.each do |r|%>
			<div class="row-fluid">
				<div class="span6">
					<div class="well">
						<tr>
							<td width="50"><%= link_to r.name, show_report_clclass_exercise_path(@clclass,@exercise,r.id) %> &nbsp;</td><hr />
							<td><%= link_to "destroy", destroy_report_clclass_exercise_path(@clclass,@exercise,r.id),
							method: :delete,
							data: { confirm: 'Are you sure?' },class: "btn btn-warning" %></td>
						</tr>
					</div>
				</div>
			</div>
			<%end %>
			<td><%= link_to t('back'), clclass_exercise_path, class: "btn btn-info" %></td>
		</div>
	</div>
</div>
