<footer class="footer">
  <small>
    <a href="#">DianDiYun</a>
    by diandiyun
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Terms",   terms_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="http://www.diandiyun.org/">Bolg</a></li>
    </ul>
  </nav>
</footer>